.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
  
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.create-room a {
  font-size:10px;
}

.create-room a {
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}
.header-name a {
  color: #fafafa;
  font-size:16px;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding:0px 20px;
  overflow: scroll
  
}

.room {
  padding:20px 0px 40px;
}

.room a {
  color:white;
}

.main-bar {
  background-color: #ffffff;
  width:calc(100% - 300px);
  
}

.header {
  background-color: #ffffff;
  height:100px;
  padding:0px 40px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size:24px;
  color:#333;
  margin-top:36px
}

.header-button {
  margin-top:40px;
}

.header-button a {
  border: 1px solid darkred;
  color:darkred;
  padding:20px;
  text-decoration: none;
  
}

.messages {
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding:46px 40px 0px;
  overflow: scroll;
}

.upper-message {
  display: flex;
}

.message-user {
  font-size:16px;
  color:#434a54;

}

.message-date {
  font-size:12px;
  color:#999;
  padding-left: 10px;
}

.lower-message {
  margin-top:10px;
}

.message-content {
  font-size:14px;
  color:#434a54;
  margin-bottom:40px;
}

.form {
  background-color: #dddddd;
  height:90px;
  padding:20px 40px ;
  display: flex;
}

.form-input {
  background-color: #dddddd;
  width:100%;
  display: flex;
}

.form-message {
  height:50px;
  width:100%;
  padding-left: 10px;
  border:none;
}

.form-submit {
  font-size:16px;
  background: #38aef0;
  color:white;
  margin-left:15px;
  padding:0 20px;
  height:50px;
  border:none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}